################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/PicWorkStation/bin/Debug
/PicWorkStation/obj/Debug
/PicWorkStation/bin/Release
/PicWorkStation/obj/Release
/.vs/PicWorkStation/v14
/PicWorkStation/bin/x64/Debug
/PicWorkStation/obj/x64/Debug
